################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Patterns-Practices-Principles/v16/Server/sqlite3
